<%- include("layouts/header"); -%>
<%- include("layouts/nav"); -%>
<%
    let userErr="", passErr="";
    if(typeof(errors) !== "undefined") {
        for (const error of errors) {
            if(error.path == "uname") {
                userErr = error.msg;
            }
            else if(error.path == "pass") {
                passErr = error.msg;
            }
        }
    } %>
<main id="loginMain">
    <form action="/login" method="post">
        <fieldset>
            <legend>Login</legend>
        </fieldset>
        <div>
            <label>User Name:</label>
            <input type="text" id="uname" name="uname" placeholder="UserName" />
            <p id="userErr"><%= userErr %></p>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" id="pass" name="pass" placeholder="Password" />
            <p id="passErr"><%= passErr %></p>
        </div>
        <div>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </div>
        <% if(typeof(loginError) !== "undefined") { %>
            <p id="error"><%= loginError %></p>
        <% } %>
    </form>
</main>

<%- include("layouts/footer"); -%>